exclude tests/*
recursive-include oarepo_vocabularies *.yaml
recursive-include oarepo_vocabularies *.json
recursive-include oarepo_vocabularies *.html
recursive-include oarepo_vocabularies *.jinja
recursive-include oarepo_vocabularies *.jinja2
recursive-include oarepo_vocabularies *.less
recursive-include oarepo_vocabularies *.js
recursive-include oarepo_vocabularies *.jsx
recursive-include oarepo_vocabularies *.overrides
recursive-include oarepo_vocabularies *.variables
recursive-include oarepo_vocabularies *.po
recursive-include oarepo_vocabularies *.mo
recursive-include oarepo_vocabularies *.pot
