{#
SPDX-FileCopyrightText: 2023-2026 CESNET z.s.p.o.
SPDX-License-Identifier: MIT
#}
{#def href='#', icon='' #}
<a href={{ href }}>
  <button class="ui left labeled icon button blue fluid mt-10"><i class="{{icon}} icon"></i>{{content}}</button>
</a>