{#def record, form_config#}

{%- extends config.BASE_TEMPLATE %}

{%- block javascript %}
    {{ super() }}
    {{ webpack['oarepo_vocabularies_form.js'] }}
{%- endblock %}

{%- block page_body %}
<div class="ui main container">
  <div class="ui relaxed grid">
    <div class="one column row">
      {# Main form content #}
      <div class="column">
      {%- block form_main_content %}
        {%- if form_config.updateUrl %}
        <h1 class="mt-20" style="text-transform: capitalize">{{ record.title.get(current_i18n.language, record.title.values() | first) }}</h1>
        {%- elif form_config.createUrl -%}
        <h1 class="mt-20">{{ _("New item") }}</h1>
        {%- endif %}
        {%- if record %}
        <input id="record" type="hidden" name="deposits-record" value='{{record | tojson }}' />
        {%- endif %}
        {%- if form_config %}
        <input type="hidden" name="deposits-config" value='{{form_config | tojson }}' />
        {%- endif %}
        {%- if permissions %}
        <input id="record-permissions" type="hidden" name="record-permissions" value='{{permissions | tojson }}' />
        {%- endif %}
        <input id="links" type="hidden" name="links" value='{{ui_links | tojson }}' />
        <div id="deposit-form" class="rel-mt-2"></div>
      {%- endblock form_main_content -%}
      </div>
    </div>
  </div>
</div>
{% endblock page_body %}