{#def record, extra_context #}
<div style=" margin-top: 2em">
<SidebarLink href={record.extra_links.ui_links["edit"]} icon="edit">{{ _('Edit')}}</SidebarLink>
{%if extra_context.vocabularyProps["hierarchical"] == True%}
  <!-- TODO:(mesemus) we need ui_links['create'] passed by backend here -->
  <SidebarLink icon="plus" href={ record['links']['vocabulary_html'] ~ '/_new?h-parent=' ~ record['id'] }>
    {{_('New child item')}}
  </SidebarLink>
{%endif%}
</div>
<section id="export-record" aria-label="Export" class="ui segment exports">
  <h2 class="ui small header">{{_('Export')}}</h2>
  <div id="recordExportDownload">
    <div class="ui grid">
      <div class="eleven wide column">
        <div
          role="listbox"
          aria-expanded="false"
          class="ui fluid selection dropdown"
          tabindex="0"
        >
          <div
            aria-atomic="true"
            aria-live="polite"
            role="alert"
            class="divider text"
          >
            JSON
          </div>
          <i aria-hidden="true" class="dropdown icon"></i>
          <div class="menu transition">
            <div
              style="pointer-events: all"
              role="option"
              aria-checked="true"
              aria-selected="true"
              class="active selected item"
            >
              <span class="text">JSON</span>
            </div>
          </div>
        </div>
      </div>
      <div class="five wide column pl-0">
        <a
          href="{{record["extra_links"]["export_path"]}}/json"
          title="Download file"
          class="ui fluid button"
          role="button"
          >Export</a
        >
      </div>
    </div>
  </div>
</section>

<section aria-label="API" class="ui segment">
  <h2 class="ui small header">{{_('API')}} {{_('Links')}}</h2>
  <SidebarApiLinks links={record.links}></SidebarApiLinks>
</section>
