{#def record, form_config, data, extra_context, ui_links #}

{% extends config.BASE_TEMPLATE %}

{%- block javascript %}
    {{ super() }}
    {{ webpack['oarepo_vocabularies_form.js'] }}
{%- endblock %}

{%- block page_body %}
    <EditForm record={record} form_config={form_config} data={data} extra_context={extra_context}></EditForm>
{% endblock page_body %}