{#def record, d #}
{% set title = record.title or record.name %}
<div class="flex align-items-center rel-mt-1">
    {% if record.icon %}
      <img class="ui image rel-mr-1" src={{record.icon}}>
    {% endif %}
</div>