{#def record, extra_context #}
<div class="rel-mt-2">
{%- if extra_context.permissions.can_edit %}
  <SidebarLink href={record.links.ui_links["edit"]} icon="edit">{{ _('Edit')}}</SidebarLink>
  {%if extra_context.vocabularyProps["hierarchical"] == True%}
    <SidebarLink icon="plus" href={ record.links.ui_links["create"] ~ '?h-parent=' ~ record['id'] }>
      {{_('New child item')}}
    </SidebarLink>
  {%endif%}
{%endif%}
</div>
<RecordExport record={record} extra_context={extra_context}/>
