{#def metadata, extra_context, hierarchical=False #}


{% if hierarchical %}
    {% set breadcrumbData = {
        "hierarchical": hierarchical,
        "ancestorsOrSelf": metadata.hierarchy.ancestors_or_self|reverse|list,
        "titles": metadata.hierarchy.title|reverse|list,
    } %}
    {% if breadcrumbData.hierarchical and breadcrumbData.ancestorsOrSelf|length>1 %}
    <div class="ui breadcrumb">
        {% for index in range(0, breadcrumbData.ancestorsOrSelf|length) %}
            {% set ancestor = breadcrumbData.ancestorsOrSelf[index] %}
            {% set title = breadcrumbData.titles[index] %}
            {% if loop.last %}
                <div class="active section">{{ title }}</div>
            {% else %}
                <a class="section" href="/vocabularies/{{ extra_context.vocabularyType }}/{{ ancestor }}">{{ title }}</a>
                <div class="divider"> / </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endif %}