{#def record, forms_config, extra_context #}
{%- set title = "Debug | Vocabulary Form" %}

{% block record_main_content %}
<div class="debug-output">
  <h2>record</h2>
  <pre>{{ record | tojson(indent=2) }}</pre>

 
  <h2>forms_config</h2>
  <pre>{{ forms_config | tojson(indent=2) }}</pre>

  <h2>extra_context</h2>
  <pre>{{ extra_context | tojson(indent=2) }}</pre>


</div>
{% endblock %}