{#def record, d #}
{% set title = ui_value(d) or record.name %}
<div class="flex align-items-center rel-mt-1">
    {% if record.icon %}
      <img class="ui image rel-mr-1" src={{record.icon}}>
    {% endif %}
    <h1 class="ui header display-inline mt-0" >{{title or _("Missing title")}}</h1>
</div>