{#
SPDX-FileCopyrightText: 2025-2026 CESNET z.s.p.o.
SPDX-License-Identifier: MIT
#}
{# def identifiers=[] #}

{% if identifiers and identifiers|length > 0 %}
  <div>
    {% for identifier in identifiers %}
      <span title="{{ identifier.scheme }}">{{ identifier.identifier }}</span>
      <ClipboardCopyButton copyText={identifier.identifier} />
    {% endfor %}
  </div>
{% endif %}