{# def identifiers=[] #}

{% if identifiers and identifiers|length > 0 %}
  <div>
    {% for identifier in identifiers %}
      <span title="{{ identifier.scheme }}">{{ identifier.identifier }}</span>
      <i class="copy outline link teal icon copy-btn" role="button"
      title="{{_('Click to copy') ~ ': ' ~ identifier.identifier}}"
      data-clipboard-text="{{identifier.identifier}}"></i>
    {% endfor %}
  </div>
{% endif %}