{#def d, search_link=None, search_facet=None, hide_definition=False #}
{%- if ui_value(d) -%}
{%- set vocabulary_type = ui_value(d.type) -%}
<div class="ui breadcrumb">
    {%- for title_item in as_array(d.hierarchy.title) -%}
        {%- set title = localized(title_item) or "" -%}
        {%- if loop.first -%}
            {%- set id = ui_value(d.id) -%}
        {%- else -%}
            {%- set ancestor_index = loop.index - 2 -%}
            {%- set id = ui_value(d.hierarchy.ancestors[ancestor_index]) -%}
        {%- endif -%}
        {%- if not hide_definition -%}
            <DefinitionLink href={"/vocabularies/" ~ vocabulary_type ~ "/" ~ id}> </DefinitionLink>
        {%- endif -%}
        {%- set aria_label = title ~ ": " ~ _("Find more records with this vocabulary term") -%}
        {%- if search_link and search_facet -%}
            <ISearchLink
                search_link={{search_link}}
                className="search_link"
                search_facet={{search_facet}}
                value={{id}}
                title={{aria_label}}
                label={{title}}
            >
            </ISearchLink>
        {%- else -%}
            {{ title }}
        {%- endif -%}
        {%- if not loop.last -%}
            <span class="divider"><i class="left chevron green icon divider"></i></span>
        {%- endif -%}
    {%- endfor -%}
</div>
{%- endif -%}
