{#def vocabulary, search_link=None, search_facet=None #}

{% for voc in vocabulary %}
    <VocabularyItem item={voc} search_link={search_link} search_facet={search_facet}></VocabularyItem>
{% endfor %}
