{#def d, search_link=None, search_facet=None, hide_definition=False #}
{%- if ui_value(d) -%}
    {%- set id = ui_value(d.id) -%}
    {%- set title = localized(d.title) or "" -%}
    {%- set vocabulary_type = ui_value(d.type) -%}

    {%- if not hide_definition -%}
        {%- set definitionLink = "/vocabularies/" ~ vocabulary_type ~ "/" ~ id -%}
        <DefinitionLink href={{definitionLink}}> </DefinitionLink>
    {%- endif -%}

    {%- set aria_label = title ~ ": " ~ _("Find more records with this vocabulary term") -%}

    {%- if search_link and search_facet -%}
        <ISearchLink
            search_link={{search_link}}
            className="search link"
            search_facet={{search_facet}}
            value={{id}}
            title={{aria_label}}
            label={{title}}
        >
        </ISearchLink>
    {%- else -%}
        <span>{{ title }}</span>
    {%- endif -%}
{%- endif -%}
