{#def d, search_link, searchFacet, hide_definition=False, vocabulary_type #}
{%- if ui_value(d) -%}
<div class="ui breadcrumb">
    {%- for title_item in as_array(d.hierarchy.title) -%}
        {%- set title = localized(title_item) or "" -%}
        {%- if loop.first -%}
            {%- set id = ui_value(d.id) -%}
        {%- else -%}
            {%- set ancestor_index = loop.index - 2 -%}
            {%- set id = ui_value(d.hierarchy.ancestors[ancestor_index]) -%}
        {%- endif -%}
        {%- if not hide_definition -%}
            {%- set definitionLink = "/vocabularies/" ~ vocabulary_type ~ "/" ~ id -%}
            <DefinitionLink href={{definitionLink}}> </DefinitionLink>
        {%- endif -%}
        {%- set aria_label = title ~ ": " ~ _("Find more records with this vocabulary term") -%}
        {%- set data = {
            "value": id,
            "title": _("Find more records with this vocabulary term"),
            "label": title,
            "aria": aria_label,
        } -%}
        <SearchLink search_link={{search_link}} searchFacet={{searchFacet}} data={{data}}>
        </SearchLink>
        {%- if not loop.last -%}
            <span class="divider"><i class="left chevron green icon divider"></i></span>
        {%- endif -%}
    {%- endfor -%}
</div>
{%- endif -%}
