{#def taxonomy, search_link, searchFacet, vocabulary_type #}
{% for tax in taxonomy %}
<div>
    <TaxonomyItem taxonomy={tax} search_link={search_link} searchFacet={searchFacet} vocabulary_type={vocabulary_type}></TaxonomyItem>
</div>

{% endfor %}
