{#def vocabulary, search_link, searchFacet, vocabulary_type #}
{% for voc in vocabulary %}

<VocabularyItem vocabulary={voc} search_link={search_link} searchFacet={searchFacet} vocabulary_type={vocabulary_type}></VocabularyItem>

{% endfor %}
