{#def d, search_link=None, searchFacet=None, vocabulary_type #}
{%- for item in as_array(d) -%}
    <VocabularyItem d={item} search_link={search_link} searchFacet={searchFacet} vocabulary_type={vocabulary_type}></VocabularyItem>
{%- endfor -%}
