{#def vocabulary, search_link, searchFacet, vocabulary_type, hide_definition=False #}
{% set vocabulary_dict = vocabulary | to_dict %}
{% if vocabulary_dict %}
{% if not hide_definition %}
{% set definitionLink = "/vocabularies/" ~ vocabulary_type ~ "/" ~ vocabulary_dict.id %}
<DefinitionLink  href={definitionLink}> </DefinitionLink>
{% endif %}

{% set title = vocabulary_dict.title ~ ": " ~ _("Find more records with this vocabulary term") %}

{% set data = {
    "value": vocabulary_dict.id,
    "title": title,
    "label": vocabulary_dict.title
} %}
<SearchLink search_link={search_link} className="search link" searchFacet={searchFacet} data = {data}>
</SearchLink>
{% endif %}
